.fila-tabla{
    display: flex;
    justify-content: space-evenly;
}
.fila-tabla > div {
    width: 25%;
}
.cabecera-tabla{
    font-weight: bold;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    color: #fff;
    background-color: #1fced4c9;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background-color: #05767a;
}

.btn:active {
    background-color: #3f5ce0;
}