<div class="container">
<div>
    <h2>Introduzca los datos de nueva trasnferencia</h2>
    <section class="datos-transferencia">
        <label for="beneficiario">Beneficiario: </label>
        <input id="beneficiario" type="text">
        <label for="importe">Importe: </label>
        <input id="importe" type="text">
        <label for="concepto">Concepto: </label>
        <input id="concepto" type="text">
    </section>
</div>
<div>
    <button type="submit" class="btn">Confirmar</button>
</div>
</div>