<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Banquito</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="!clienteIn()"  class="nav-item active">
          <a  routerLink="/auth/login" class="nav-link" >Iniciar Sesión</a>
        </li>

        <li *ngIf="!clienteIn()" class="nav-item active">
            <a   routerLink="/auth/registro" class="nav-link" >Registrarse</a>
          </li>
        <li  *ngIf="clienteIn()"  class="nav-item">
          <a  (click)="cerrarSesion()"  class="nav-link" >Cerrar Sesión</a>
        </li>
        <li  *ngIf="clienteIn()" class="nav-item">
          <a class="nav-link" routerLink="/pages/movimientos" >Movimientos</a>
        </li>

        <li  *ngIf="clienteIn()" class="nav-item">
            <a class="nav-link" routerLink="/pages/micuenta" >Perfil</a>
          </li>
      
      </ul>
    </div>
  </nav>